obj
build
*.pyc

lib
!lib/glew32.dll
!lib/glut32.dll
!lib/pthread.dll
!lib/SDL.dll

bin
!bin/tileNodes.list
!bin/tileNodes.list

share

src/sam/src/sam/Makefile
src/sam/src/client/Makefile
src/sam/src/client/examples/saminput/Makefile
src/sam/src/client/examples/samugen-gui/Makefile
src/sam/src/client/examples/samugen/Makefile
src/sam/src/sam/test/Makefile
src/apps/qshare/Makefile
src/apps/qshare/qrc_qshare.cpp
src/apps/DecklinkCapture/Makefile

src/apps/mplayer/DOCS/xml/en/main.xml
src/apps/mplayer/DOCS/xml/html-chunk.xsl
src/apps/mplayer/DOCS/xml/html-single.xsl
src/apps/mplayer/codec-cfg
src/apps/mplayer/codecs.conf.h
src/apps/mplayer/config.h
src/apps/mplayer/config.log
src/apps/mplayer/config.mak
src/apps/mplayer/ffmpeg/.config
src/apps/mplayer/ffmpeg/.version
src/apps/mplayer/ffmpeg/config.asm
src/apps/mplayer/ffmpeg/config.h
src/apps/mplayer/ffmpeg/config.mak
src/apps/mplayer/ffmpeg/libavcodec/libavcodec.a
src/apps/mplayer/ffmpeg/libavfilter/libavfilter.a
src/apps/mplayer/ffmpeg/libavformat/libavformat.a
src/apps/mplayer/ffmpeg/libavutil/avconfig.h
src/apps/mplayer/ffmpeg/libavutil/libavutil.a
src/apps/mplayer/ffmpeg/libpostproc/libpostproc.a
src/apps/mplayer/ffmpeg/libswresample/libswresample.a
src/apps/mplayer/ffmpeg/libswscale/libswscale.a
src/apps/mplayer/ffmpeg/version.h
src/apps/mplayer/help_mp.h
src/apps/mplayer/mencoder
src/apps/mplayer/mplayer
src/apps/mplayer/version.h
src/apps/mplayer/vidix/pci_dev_ids.c
src/apps/mplayer/vidix/pci_ids.h
src/apps/mplayer/vidix/pci_names.c
src/apps/mplayer/vidix/pci_vendors.h
src/apps/mplayer/**/*.o
src/apps/mplayer/**/*.d

src/apps/ultragrid-1.1/FastDXT/libdxt.a
src/apps/ultragrid-1.1/Makefile
src/apps/ultragrid-1.1/ag_plugin/uvReceiverService.zip
src/apps/ultragrid-1.1/ag_plugin/uvSenderService.zip
src/apps/ultragrid-1.1/autom4te.cache/
src/apps/ultragrid-1.1/bin/
src/apps/ultragrid-1.1/config.log
src/apps/ultragrid-1.1/config.status
src/apps/ultragrid-1.1/dxt_compress/dxt_glsl.h
src/apps/ultragrid-1.1/src/config.h
src/apps/ultragrid-1.1/**/*.o
src/apps/ultragrid-1.1/**/*.d
